html,
body,
.root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: rows;
  flex-wrap: nowrap;
  align-items: stretch;
}

.root {
  width: 75%;
}

.members-drawer {
  border-right: 1px solid black;
  display: flex;
  width: 25%;
  flex-direction: column;
  padding: 8px;
}

.members-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 0 8px 0;
  resize: none;
}
